<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <h2><a href="/">Login page for the application</a></h2>
        <nav>
            <a href="/login" >Log in</a>
        </nav>
    </header>


    <main>
        <form action="/register" method="POST">
            <% errors.forEach(error => { %>
                <p><%= error %></p>
                <% }) %>

            <fieldset>
                <legend>Create an account</legend>
                <label for="username">Username</label>
                <input type="text" id="username" name="username" />


                <label for="password">Password</label>
                <input type="password" id="password" name="password" />
                <br/ >
                <br/ >

                <button> Sign up</button>

            </fieldset>
        </form>
    </main>

    <footer>
        <small> &copy; Arnav's Project</small>
    </footer>
</body>
</html>